# Игнорируем папку виртуального окружения (тяжелая, не нужна в репозитории)
venv/

# Игнорируем файл с секретными ключами (токеном)
.env

# Игнорируем файлы базы данных (если они создаются локально)
*.db

# Игнорируем файлы кэша PyCharm/VS Code
.idea/
__pycache__/
*.pyc
